.l1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.l2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.l3{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.l4{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.l5{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}